@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
    --primary:#FF63DF;
    --secondary: #0074FD;
    --background: #222222;
}

/* base styles */
body {
    background: var(--background);
    color: #ffffff;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}
