/* Buttons */
.btn {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 12px 0;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.btn-small {
    max-width: 228px;
}
.btn-border-primary {
    border: 2px solid var(--primary);
}
.btn-solid {
    color: var(--background);
    border: 2px solid var(--primary);
    background: var(--primary);
}
.btn-solid:hover {
    background: var(--secondary);
    border: 2px solid var(--secondary);
}
.btn-outline {
    background: none;
    color: var(--primary);
}
.btn-outline:hover {
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.btn-gradient {
    position: relative;
    z-index: 1;
    color: var(--white);
    border-radius: var(--border-radius-default);
}

.btn-gradient:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    border-radius: var(--border-radius-default);
}

.btn-gradient:hover:before {
    opacity: 1;
}

.btn-gradient-blue {
    border-color: transparent;
    background-color: var(--gr-purple-dk);
    background: linear-gradient(to right, var(--gr-blue-dk) 0%, var(--gr-blue-lt) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
    position: relative;
    z-index: 1;
}

.btn-gradient-blue:before {
    background-color: var(--gr-purple-dk-hover);
    background: linear-gradient(to right, var(--gr-blue-dk-hover) 0%, var(--gr-blue-lt-hover) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
}

.btn-gradient-purple {
    border-color: transparent;
    background-color: var(--gr-purple-dk);
    background: linear-gradient(to right, var(--gr-purple-dk) 0%, var(--gr-purple-lt) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
    position: relative;
    z-index: 1;
}

.btn-gradient-purple:before {
    background-color: var(--gr-purple-dk-hover);
    background: linear-gradient(to right, var(--gr-purple-dk-hover) 0%, var(--gr-purple-lt-hover) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
}

.btn-gradient-green {
    border-color: transparent;
    background-color: var(--gr-green-dk);
    background: linear-gradient(to right, var(--gr-green-dk) 0%, var(--gr-green-lt) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
    position: relative;
    z-index: 1;
}

.btn-gradient-green:before {
    background-color: var(--gr-green-dk-hover);
    background: linear-gradient(to right, var(--gr-green-dk-hover) 0%, var(--gr-green-lt-hover) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
}

.btn-gradient-gold {
    border-color: transparent;
    background-color: var(--gr-gold-dk);
    background: radial-gradient(37% 146% at 46% 49%, var(--gr-gold-lt) 0%, var(--gr-gold-dk) 100%);
    /*background: linear-gradient(to right, var(--gr-gold-dk) 0%, var(--gr-gold-lt) 100%);*/
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
    position: relative;
    z-index: 1;
    color: var(--black);
}

.btn-gradient-gold:before {
    background-color: var(--gr-gold-dk-hover);
    /*background: linear-gradient(to right, var(--gr-gold-dk-hover) 0%, var(--gr-gold-lt-hover) 100%);*/
    background: radial-gradient(37% 146% at 46% 49%, var(--gr-gold-lt-hover) 0%, var(--gr-gold-dk-hover) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
}

.btn-gradient-pink {
    border-color: transparent;
    background-color: var(--gr-pink-dk);
    background: linear-gradient(to right, var(--gr-pink-dk) 0%, var(--gr-pink-lt) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
    position: relative;
    z-index: 1;
}

.btn-gradient-pink:before {
    background-color: var(--gr-pink-dk-hover);
    background: linear-gradient(to right, var(--gr-pink-dk-hover) 0%, var(--gr-pink-lt-hover) 100%);
    transition: all 0.3s linear;
    transition-delay: 0s;
    -webkit-transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
}




@media (min-width: 992px) {
    .btn-gradient-purple:hover:before {
        opacity: 1;
    }
    .btn-gradient-green:hover:before {
        opacity: 1;
    }
    .btn-gradient-gold:hover:before {
        opacity: 1;
    }
    .btn-gradient-pink:hover:before {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .project-details .btn {
        max-width: none;
    }
}
