@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');


@import './variables.css';
@import './grid.css';
@import './spacing.css';
@import './helpers.css';
@import './buttons.css';
@import './navigation.css';
@import './colors.css';


/* Reset */
h1, h2, h3, h4, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* Base Styles */
* {
    box-sizing: border-box;
    font-family: var(--font-primary);
}
body {
    background: var(--background);
    color: var(--white);
    margin: 0;
}
h1 {
    font-size: 34px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 28px;
}
p {
    font-size: 17px;
    line-height: 29px;
}
section .title {
    text-align: center;
}
.sub-text {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.link {
    color: var(--primary);
    text-decoration: underline;
}
.link:hover {
    color: var(--secondary);
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.container > .row {
    padding: 0 30px;
}

.bg-grey {
    background: var(--grey);
}

span.bold {
    font-weight: 700;
}

a.text-only {
    color: inherit;
}

.underline {
    text-decoration: underline;
}

.center-img {
    margin: 0 auto;
}


@media (max-width: 1199px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    h1 { 
        font-size: 40px;
    }
    h2 {
        font-size: 34px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 36px;
    }
    .container > .row {
        padding: 0 40px;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 32px;
    }
    p {
        font-size: 19px;
    }
    .sub-text {
        font-size: 16px;
    }
    .container > .row {
        padding: 0 50px;
    }
}

@media screen and (min-width: 992px) {
    .container > .row {
        padding: 0;
    }
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 38px;
    }
}
