.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.row.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.column.reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/**
 * When wrap is NOT enabled
 */
.row.v-start, .column.v-start {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.row.v-end, .column.v-end {
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.row.v-center, .column.v-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.row.v-baseline, .column.v-baseline {
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.row.v-stretch, .column.v-stretch {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/**
 * When wrap is enabled
 */
.row.wrap.v-start, .column.wrap.v-start {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
}

.row.wrap.v-end, .column.wrap.v-end {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: flex-end;
    align-content: flex-end;
}

.row.wrap.v-center, .column.wrap.v-center {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.row.wrap.v-stretch, .column.wrap.v-stretch {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.row.wrap.v-space-between, .column.wrap.v-space-between {
    -webkit-align-content: space-between;
    -ms-flex-line-pack: space-between;
    align-content: space-between;
}

.row.wrap.v-space-around, .column.wrap.v-space-around {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around;
}

.row.start, .column.start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.row.end, .column.end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.row.center, .column.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.row.space-between, .column.space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.row.space-around, .column.space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (max-width: 991px) {
    .row.md-start, .column.md-start {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .row.md-end, .column.md-end {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
    }

    .row.md-center, .column.md-center {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .row.md-space-between, .column.md-space-between {
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
    }

    .row.md-space-around, .column.md-space-around {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}
@media (max-width: 543px) {
    .row.xs-start, .column.xs-start {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .row.xs-end, .column.xs-end {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
    }

    .row.xs-center, .column.xs-center {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .row.xs-space-between, .column.xs-space-between {
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
    }

    .row.xs-space-around, .column.xs-space-around {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}
.row.wrap, .column.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.no-wrap, .column.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.row.reverse-wrap, .column.reverse-wrap {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

@media (max-width: 991px) {
    .row.wrap-md {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (max-width: 543px) {
    .row.wrap-xs {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.col {
    flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}

.col-free, .free .col {
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}

/**
 * Alignments
 */
.col-free-auto, .col-auto {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.col-free-start, .col-start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
}

.col-free-end, .col-end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
}

.col-free-center, .col-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.col-free-baseline, .col-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.col-free-stretch, .col-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.col-1 {
    flex: 0 1 6.25%;
    -webkit-flex: 0 1 6.25%;
    -ms-flex: 0 1 6.25%;
}

.col-2 {
    flex: 0 1 12.5%;
    -webkit-flex: 0 1 12.5%;
    -ms-flex: 0 1 12.5%;
}

.col-3 {
    flex: 0 1 18.75%;
    -webkit-flex: 0 1 18.75%;
    -ms-flex: 0 1 18.75%;
}

.col-4 {
    flex: 0 1 25%;
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
}

.col-5 {
    flex: 0 1 31.25%;
    -webkit-flex: 0 1 31.25%;
    -ms-flex: 0 1 31.25%;
}

.col-6 {
    flex: 0 1 37.5%;
    -webkit-flex: 0 1 37.5%;
    -ms-flex: 0 1 37.5%;
}

.col-7 {
    flex: 0 1 43.75%;
    -webkit-flex: 0 1 43.75%;
    -ms-flex: 0 1 43.75%;
}

.col-8 {
    flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
}

.col-9 {
    flex: 0 1 56.25%;
    -webkit-flex: 0 1 56.25%;
    -ms-flex: 0 1 56.25%;
}

.col-10 {
    flex: 0 1 62.5%;
    -webkit-flex: 0 1 62.5%;
    -ms-flex: 0 1 62.5%;
}

.col-11 {
    flex: 0 1 68.75%;
    -webkit-flex: 0 1 68.75%;
    -ms-flex: 0 1 68.75%;
}

.col-12 {
    flex: 0 1 75%;
    -webkit-flex: 0 1 75%;
    -ms-flex: 0 1 75%;
}

.col-13 {
    flex: 0 1 81.25%;
    -webkit-flex: 0 1 81.25%;
    -ms-flex: 0 1 81.25%;
}

.col-14 {
    flex: 0 1 87.5%;
    -webkit-flex: 0 1 87.5%;
    -ms-flex: 0 1 87.5%;
}

.col-15 {
    flex: 0 1 93.75%;
    -webkit-flex: 0 1 93.75%;
    -ms-flex: 0 1 93.75%;
}

.col-16 {
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
}

@media (max-width: 991px) {
    .col-md-1 {
        flex: 0 1 6.25%;
        -webkit-flex: 0 1 6.25%;
        -ms-flex: 0 1 6.25%;
    }

    .col-md-2 {
        flex: 0 1 12.5%;
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
    }

    .col-md-3 {
        flex: 0 1 18.75%;
        -webkit-flex: 0 1 18.75%;
        -ms-flex: 0 1 18.75%;
    }

    .col-md-4 {
        flex: 0 1 25%;
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
    }

    .col-md-5 {
        flex: 0 1 31.25%;
        -webkit-flex: 0 1 31.25%;
        -ms-flex: 0 1 31.25%;
    }

    .col-md-6 {
        flex: 0 1 37.5%;
        -webkit-flex: 0 1 37.5%;
        -ms-flex: 0 1 37.5%;
    }

    .col-md-7 {
        flex: 0 1 43.75%;
        -webkit-flex: 0 1 43.75%;
        -ms-flex: 0 1 43.75%;
    }

    .col-md-8 {
        flex: 0 1 50%;
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
    }

    .col-md-9 {
        flex: 0 1 56.25%;
        -webkit-flex: 0 1 56.25%;
        -ms-flex: 0 1 56.25%;
    }

    .col-md-10 {
        flex: 0 1 62.5%;
        -webkit-flex: 0 1 62.5%;
        -ms-flex: 0 1 62.5%;
    }

    .col-md-11 {
        flex: 0 1 68.75%;
        -webkit-flex: 0 1 68.75%;
        -ms-flex: 0 1 68.75%;
    }

    .col-md-12 {
        flex: 0 1 75%;
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
    }

    .col-md-13 {
        flex: 0 1 81.25%;
        -webkit-flex: 0 1 81.25%;
        -ms-flex: 0 1 81.25%;
    }

    .col-md-14 {
        flex: 0 1 87.5%;
        -webkit-flex: 0 1 87.5%;
        -ms-flex: 0 1 87.5%;
    }

    .col-md-15 {
        flex: 0 1 93.75%;
        -webkit-flex: 0 1 93.75%;
        -ms-flex: 0 1 93.75%;
    }

    .col-md-16 {
        flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
    }
}
@media (max-width: 543px) {
    .col-xs-1 {
        flex: 0 1 6.25%;
        -webkit-flex: 0 1 6.25%;
        -ms-flex: 0 1 6.25%;
    }

    .col-xs-2 {
        flex: 0 1 12.5%;
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
    }

    .col-xs-3 {
        flex: 0 1 18.75%;
        -webkit-flex: 0 1 18.75%;
        -ms-flex: 0 1 18.75%;
    }

    .col-xs-4 {
        flex: 0 1 25%;
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
    }

    .col-xs-5 {
        flex: 0 1 31.25%;
        -webkit-flex: 0 1 31.25%;
        -ms-flex: 0 1 31.25%;
    }

    .col-xs-6 {
        flex: 0 1 37.5%;
        -webkit-flex: 0 1 37.5%;
        -ms-flex: 0 1 37.5%;
    }

    .col-xs-7 {
        flex: 0 1 43.75%;
        -webkit-flex: 0 1 43.75%;
        -ms-flex: 0 1 43.75%;
    }

    .col-xs-8 {
        flex: 0 1 50%;
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
    }

    .col-xs-9 {
        flex: 0 1 56.25%;
        -webkit-flex: 0 1 56.25%;
        -ms-flex: 0 1 56.25%;
    }

    .col-xs-10 {
        flex: 0 1 62.5%;
        -webkit-flex: 0 1 62.5%;
        -ms-flex: 0 1 62.5%;
    }

    .col-xs-11 {
        flex: 0 1 68.75%;
        -webkit-flex: 0 1 68.75%;
        -ms-flex: 0 1 68.75%;
    }

    .col-xs-12 {
        flex: 0 1 75%;
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
    }

    .col-xs-13 {
        flex: 0 1 81.25%;
        -webkit-flex: 0 1 81.25%;
        -ms-flex: 0 1 81.25%;
    }

    .col-xs-14 {
        flex: 0 1 87.5%;
        -webkit-flex: 0 1 87.5%;
        -ms-flex: 0 1 87.5%;
    }

    .col-xs-15 {
        flex: 0 1 93.75%;
        -webkit-flex: 0 1 93.75%;
        -ms-flex: 0 1 93.75%;
    }

    .col-xs-16 {
        flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
    }
}

/*# sourceMappingURL=grid.css.map */
