
.right-0 {
    margin-right: 0;
}

.right-0-5 {
    margin-right: 0.5rem;
}

.top-0 {
    margin-top: 0;
}

.top-0-5 {
    margin-top: 0.5rem;
}

.left-0 {
    margin-left: 0;
}

.left-0-5 {
    margin-left: 0.5rem;
}

.bottom-0 {
    margin-bottom: 0;
}

.bottom-0-5 {
    margin-bottom: 0.5rem;
}

.right-1 {
    margin-right: 1rem;
}

.right-1-5 {
    margin-right: 1.5rem;
}

.top-1 {
    margin-top: 1rem;
}

.top-1-5 {
    margin-top: 1.5rem;
}

.left-1 {
    margin-left: 1rem;
}

.left-1-5 {
    margin-left: 1.5rem;
}

.bottom-1 {
    margin-bottom: 1rem;
}

.bottom-1-5 {
    margin-bottom: 1.5rem;
}


.right-2 {
    margin-right: 2rem;
}

.right-2-5 {
    margin-right: 2.5rem;
}

.top-2 {
    margin-top: 2rem;
}

.top-2-5 {
    margin-top: 2.5rem;
}

.left-2 {
    margin-left: 2rem;
}

.left-2-5 {
    margin-left: 2.5rem;
}

.bottom-2 {
    margin-bottom: 2rem;
}

.bottom-2-5 {
    margin-bottom: 2.5rem;
}

.right-3 {
    margin-right: 3rem;
}

.right-3-5 {
    margin-right: 3.5rem;
}

.top-3 {
    margin-top: 3rem;
}

.top-3-5 {
    margin-top: 3.5rem;
}

.left-3 {
    margin-left: 3rem;
}

.left-3-5 {
    margin-left: 3.5rem;
}

.bottom-3 {
    margin-bottom: 3rem;
}

.bottom-3-5 {
    margin-bottom: 3.5rem;
}


@media (max-width: 991px) {
    .right-md-0 {
        margin-right: 0;
    }

    .right-md-0-5 {
        margin-right: 0.5rem;
    }


    .top-md-0 {
        margin-top: 0;
    }

    .top-md-0-5 {
        margin-top: 0.5rem;
    }

    .left-md-0 {
        margin-left: 0;
    }

    .left-md-0-5 {
        margin-left: 0.5rem;
    }

    .bottom-md-0 {
        margin-bottom: 0;
    }

    .bottom-md-0-5 {
        margin-bottom: 0.5rem;
    }

    .right-md-1 {
        margin-right: 1rem;
    }

    .right-md-1-5 {
        margin-right: 1.5rem;
    }

    .top-md-1 {
        margin-top: 1rem;
    }

    .top-md-1-5 {
        margin-top: 1.5rem;
    }

    .left-md-1 {
        margin-left: 1rem;
    }

    .left-md-1-5 {
        margin-left: 1.5rem;
    }

    .bottom-md-1 {
        margin-bottom: 1rem;
    }

    .bottom-md-1-5 {
        margin-bottom: 1.5rem;
    }

    .right-md-2 {
        margin-right: 2rem;
    }

    .right-md-2-5 {
        margin-right: 2.5rem;
    }

    .top-md-2 {
        margin-top: 2rem;
    }

    .top-md-2-5 {
        margin-top: 2.5rem;
    }

    .left-md-2 {
        margin-left: 2rem;
    }

    .left-md-2-5 {
        margin-left: 2.5rem;
    }

    .bottom-md-2 {
        margin-bottom: 2rem;
    }

    .bottom-md-2-5 {
        margin-bottom: 2.5rem;
    }

    .right-md-3 {
        margin-right: 3rem;
    }

    .right-md-3-5 {
        margin-right: 3.5rem;
    }

    .top-md-3 {
        margin-top: 3rem;
    }

    .top-md-3-5 {
        margin-top: 3.5rem;
    }

    .left-md-3 {
        margin-left: 3rem;
    }

    .left-md-3-5 {
        margin-left: 3.5rem;
    }

    .bottom-md-3 {
        margin-bottom: 3rem;
    }

    .bottom-md-3-5 {
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 543px) {
    .right-xs-0 {
        margin-right: 0;
    }

    .right-xs-0-5 {
        margin-right: 0.5rem;
    }

    .top-xs-0 {
        margin-top: 0;
    }

    .top-xs-0-5 {
        margin-top: 0.5rem;
    }

    .left-xs-0 {
        margin-left: 0;
    }

    .left-xs-0-5 {
        margin-left: 0.5rem;
    }

    .bottom-xs-0 {
        margin-bottom: 0;
    }

    .bottom-xs-0-5 {
        margin-bottom: 0.5rem;
    }

    .right-xs-1 {
        margin-right: 1rem;
    }

    .right-xs-1-5 {
        margin-right: 1.5rem;
    }

    .top-xs-1 {
        margin-top: 1rem;
    }

    .top-xs-1-5 {
        margin-top: 1.5rem;
    }

    .left-xs-1 {
        margin-left: 1rem;
    }

    .left-xs-1-5 {
        margin-left: 1.5rem;
    }
    .bottom-xs-1 {
        margin-bottom: 1rem;
    }

    .bottom-xs-1-5 {
        margin-bottom: 1.5rem;
    }

    .right-xs-2 {
        margin-right: 2rem;
    }

    .right-xs-2-5 {
        margin-right: 2.5rem;
    }

    .top-xs-2 {
        margin-top: 2rem;
    }

    .top-xs-2-5 {
        margin-top: 2.5rem;
    }

    .left-xs-2 {
        margin-left: 2rem;
    }

    .left-xs-2-5 {
        margin-left: 2.5rem;
    }

    .bottom-xs-2 {
        margin-bottom: 2rem;
    }

    .bottom-xs-2-5 {
        margin-bottom: 2.5rem;
    }

    .right-xs-3 {
        margin-right: 3rem;
    }

    .right-xs-3-5 {
        margin-right: 3.5rem;
    }

    .top-xs-3 {
        margin-top: 3rem;
    }

    .top-xs-3-5 {
        margin-top: 3.5rem;
    }

    .left-xs-3 {
        margin-left: 3rem;
    }

    .left-xs-3-5 {
        margin-left: 3.5rem;
    }

    .bottom-xs-3 {
        margin-bottom: 3rem;
    }

    .bottom-xs-3-5 {
        margin-bottom: 3.5rem;
    }


}
